
footer {
    /* position: fixed; */
    width: 100%;
    bottom: 0;
    background-color: #f8f8f8;
    text-align: center;
}
.container-footer {
    width: 100%;
    padding: 70px 0;

}
.content-footer1 {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 2rem auto;
    padding-bottom: 4rem;
    border-bottom: 1px solid #dad3d3;
}
.contect-items {
    display: flex;
    text-align: start;
    margin: 0 3rem;
    font-size: 1rem;
}
.contect-items a {
    font-size: 1.5rem;
}
.items-data {
    margin-left: 1rem;
}
.content-footer2 {
    width: 100%;
}
.icon-items {
    margin: 1rem auto;
}
.icon-items a {
    font-size: 1.4rem;
    margin: 0 0.5rem;
    color: #444;
}

@media screen and (max-width: 480px) {
    .content-footer1 {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
    .contect-items {
        margin: 1rem 5rem;
    }
}